@using Business
@using Entities

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>codigo de almacen</th>
            <th>Nombre del Almacen</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in almacenes)
        {
            <tr>
                <td>@x.WarehouseId</td>
                <td>@x.WarehouseName</td>
                <td>@x.WarehouseAddress</td>
            </tr>
        }
    </tbody>

</table>

<p>Total de Datos:@almacenes.Count</p>


@inject B_Warehouse bAlmacen 
@code {
    List<WarehouseEntity> almacenes = new List<WarehouseEntity>();

    protected override async Task OnInitializedAsync()
    {
        almacenes = bAlmacen.ItemList();

    } 
}
