<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Inventario_srv</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos/crear" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Crear Productos
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos/lista" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lista de productos
            </NavLink>
        </div>
         
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="almacenes/WarehousePageList">
                <span class="oi oi-plus" aria-hidden="true"></span> Lista de Almacenes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="almacenes/WareHouseAdd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agregar un Almacen
            </NavLink>
        </div>


         <div class="nav-item px-3">
            <NavLink class="nav-link" href="inout/crud">
                <span class="oi oi-target" aria-hidden="true"></span> Entradas y Salidas
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="almacenamiento/create">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Crear Almacenamiento
            </NavLink>
        </div>


        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
